@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
body {
	font-family: 'Lato', sans-serif;
	color : #454545 !important;
	font-size: 14px;
}
header {
	margin-bottom: 10px;
}
.info-box {
	color:#7A6A53 !important;
	font-size:12px;
	margin-bottom: 50px;
}
.info-box p,
.info-box span,
.info-box h4,
.info-box div {
	color:#7A6A53 !important;
}
h1 {
	color :#676767 !important;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 0;
}
h2 {
	font-size : 38px;
	font-weight: 100;
	margin-top: 0px;
	line-height: 1;
	color : #1e8fc6 !important;
}
h4 span {
	color: #7A6A53 !important;
}

section h4 {
	color: #7A6A53 !important;
	border-bottom: 1px solid #7A6A53;
}
section  {
	margin-bottom: 10px;
}
.signature {
	width: 60px;
}
p {
	font-family: 'Lato', sans-serif;
	white-space: pre-line;
	line-height: 1.4;
}
ul.none li {
	list-style-type: none;
	margin-bottom: 6px;
}
.page {
	padding-top : 10px;
	padding-bottom : 10px;
	margin-bottom: 50px;
}
.indent {
	padding-left: 26px;
}
.indent:before {
	position: absolute;
	left: 15px;
}
.animate {
	opacity : 0;
	transition: opacity 1s;
	-o-transition : opacity 1s;
	-ms-transition:opacity 1s;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
}
@media print {
	a {
		color: #7A6A53 !important;
	}
	body {
		background-color: #fff !important;
	}
	.animate  {
		opacity:1;
	}
	.page {
		page-break-before: always;
	}
	.no-break,
	section {
		page-break-inside: avoid;
	}
	.no-break-before {
		page-break-before: avoid;
	}
	.col-sm-4 {
		float:left;
		width : 33%!important;
	}
	.col-sm-8 {
		float:left;
		width : 66% !important;
	}
	.col-sm-6 {
		float:left;
		width : 50% !important;
	}
}
